.add-product-to-order {
    &__product-wrapper {
        grid-template-columns: unset;
    }
    
    &__product-items {
        position: unset;
    }
    
    &__loader-wrapper {
        display: flex;
        justify-content: center;
        padding: 60px 0 20px;
    }
}

.selected-product-flavour {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    
    &__label {
        text-transform: uppercase;
        letter-spacing: -.24px;
        font-size: 14px;
        font-weight: 900;
    }
    
    &__name {
        letter-spacing: -.24px;
        font-size: 14px;
        font-weight: 500;
    }
}

.purchase-type {
    &__title {
        text-transform: uppercase;
        letter-spacing: -.24px;
        font-size: 14px;
        font-weight: 900;
        margin-bottom: 8px;
    }
    
    &__options {
        display: flex;
        flex-direction: column;
        
        &__price {
            font-size: 16px;
            font-weight: 700;
            letter-spacing: -.32px;
            text-align: end;
        }
        
        &__discount {
            font-size: 14px;
            font-weight: 700;
            color: #eb1000;
            letter-spacing: -.24px;
            font-size: 14px;
        }
        
        .subscribe-option {
            border-radius: 8px 8px 0 0;
            border-color: #e9edf7 #e9edf7 transparent #e9edf7;
            
            &__wrapper {
                justify-content: space-between;
                align-items: baseline;
            }
            
            &__title {
                letter-spacing: 0;
            }
        
            &__description {
                font-size: 14px;
                font-weight: 500;
                color: #666;
                line-height: normal;
                letter-spacing: normal;
            }
        }
        
        .one-time-option {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            border-radius: 0 0 8px 8px; 
            
            &__title {
                letter-spacing: 0;
            }
        }
    }
}

.deliver-frequency {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    
    &__name {
        text-transform: uppercase;
        letter-spacing: -.24px;
        font-size: 12px;
        font-weight: 900;
    }
    
    select {    
        border-radius: 8px;
        padding: 5px 20px;
        font-weight: 700;
    }
}


/* Processing Step Styles Start */
div[data-step="processing"] {
    .og-dialog-close {
        display: none;
    }
}

.order-processing {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__message {
        margin-bottom: 45px;
        align-self: flex-start;
    }
}
/* Processing Step Styles End */

.progress-indicator {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #666;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.og-add-items-dialog.is-processing {
    .og-dialog-wide::backdrop {
        pointer-events: none;
    }
}
