.og-button,
.og-icon-button {
  border: none;
  border-radius: var(--og-button-border-radius, @button-radius);
  cursor: pointer;

  &:focus-visible {
    outline-offset: 4px;
    outline-style: solid;
    outline-color: @color-primary;
  }
}

.og-icon-button {
  background: none;
}

.og-button {
  padding: var(--og-button-padding, @size-2 @size-8);
  font-weight: 700;
  font-size: @size-3-5;
  background: @color-primary;
  color: @color-button-font;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;

  svg {
    margin-left: @size-1;
    flex-shrink: 0;
  }

  &:hover {
    background: lighten(@color-primary, 5%);
  }

  &:active {
    background: darken(@color-primary, 5%);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
  }

  &:disabled {
    background: @color-disabled;
    pointer-events: none;
  }

  &[data-state='error'],
  &[data-variant='danger'] {
    background: @color-error;

    &:hover {
      background: lighten(@color-error, 5%);
    }

    &:active {
      background: darken(@color-error, 5%);
    }

    &:focus-visible {
      outline-color: @color-error;
    }
  }

  &[data-variant='secondary'] {
    background: @color-button-secondary-bg;
    color: @color-button-secondary-font;

    &:hover {
      background: darken(@color-button-secondary-bg, 3%);
    }

    &:active {
      background: darken(@color-button-secondary-bg, 5%);
    }

    &:disabled {
      background: @color-button-secondary-bg;
      color: @color-disabled;
    }

    &[data-state='error'] {
      background: @color-error-secondary;
      color: @color-error;

      &:hover {
        background: lighten(@color-error-secondary, 3%);
      }

      &:active {
        background: darken(@color-error-secondary, 5%);
      }

      &:focus-visible {
        outline-color: @color-error;
      }
    }
  }

  &[data-variant='tertiary'] {
    background: transparent;
    color: @color-button-secondary-font;

    &:hover {
      color: lighten(@color-button-secondary-font, 5%);
    }

    &:active {
      color: darken(@color-button-secondary-font, 5%);
      box-shadow: none;
    }

    &:disabled {
      color: @color-disabled;
    }

    &[data-state='error'] {
      color: @color-error;

      &:hover {
        color: lighten(@color-error, 5%);
        background: inherit;
      }

      &:active {
        color: darken(@color-error, 5%);
      }

      &:focus-visible {
        outline-color: @color-error;
      }
    }
  }

  &[data-size='lg'] {
    padding-top: @size-2-5;
    padding-bottom: @size-2-5;
  }
}
