.og-cancel-reasons {
  display: flex;
  flex-direction: column;
  gap: @size-3;

  font-size: @size-3-5;
  margin-top: @size-6;

  .og-cancel-reason-other {
    display: block;
    margin-left: @size-4;
    border: 1px solid @color-border;
    border-radius: @border-radius-xs;
  }
}

sm-multistep {
  [data-step]:not([data-active]) {
    display: none;
  }
}

.og-cancel-reason-wrapper {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.cancel-reasons-banner {
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    gap: 10px;
    
    .image-container {
         width: 50%;
         
         img {
             max-height: 220px;
         }
    }

    
    .content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        h2, p {
            margin-bottom: 10px;
        }
    }
    
}

.cancel-sub-dialog {
    dialog {
        @media (min-width: @mobile-width) {
            max-width: 590px;
        }
    }
    
    
  .og-dialog-body {

    @media (min-width: @mobile-width) {
    
      margin-bottom: 10px;
    }
  }
  
  .og-cancel-reasons {
      gap: 2px;
  }
}