.og-container {
  font-family: @font-family;
  color: @font-color;
  line-height: @line-height;
  max-width: @container-width;
  margin: 0 auto;

  // add specificity to override global styles
  * {
    color: @font-color;
    font-family: @font-family;
  }
}

.og-product-title {
  font-weight: 700;
  font-size: @text-sm;
  letter-spacing: -0.02em;
  @media (min-width: @mobile-width) {
    font-size: @text-lg;
    margin-bottom: @size-2-5;
  }
}

.og-card {
  border: 1px solid @color-border;
  border-radius: @border-radius-md;
  padding: @size-3-5;
  background: @container-background;
  padding: @size-4 @size-1-5;

  @media (min-width: @mobile-width) {
    padding: @size-3-5;
  }
}

.og-content-wrapper {
  box-shadow: @box-shadow-sm;
  border-radius: @border-radius-md;
  overflow: visible;
  margin-bottom: @size-5;
  background: @container-background;
}

.og-message {
  display: grid;
  gap: @size-8;
  justify-items: center;
  text-align: center;
  padding: @size-9 @size-8;

  p,
  p > * {
    color: @color-highlight;
    font-size: @text-xl;
  }

  @media (min-width: @mobile-width) {
    padding: @size-12 @size-14 @size-14 @size-14;
  }
}

.og-thumbnail {
  width: 83px;
  min-width: 75px;
  height: 83px;
  margin: 0 @size-4 0 @size-1;
  border-radius: @border-radius-sm;
  background-color: @color-image-background;
  background-image: url('data:image/svg+xml,%3Csvg width=%2234%22 height=%2234%22 viewBox=%220 0 34 34%22 fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath fill-rule=%22evenodd%22 clip-rule=%22evenodd%22 d=%22M26.2087 8.5H7.79199C6.61837 8.5 5.66699 9.45138 5.66699 10.625V23.375C5.66699 24.5486 6.61837 25.5 7.79199 25.5H26.2087C27.3823 25.5 28.3337 24.5486 28.3337 23.375V10.625C28.3337 9.45138 27.3823 8.5 26.2087 8.5ZM25.943 23.375H8.05762C7.91092 23.375 7.79199 23.2561 7.79199 23.1094V10.8906C7.79199 10.7439 7.91092 10.625 8.05762 10.625H25.943C26.0897 10.625 26.2087 10.7439 26.2087 10.8906V23.1094C26.2087 23.2561 26.0897 23.375 25.943 23.375ZM11.3337 12.3958C10.3557 12.3958 9.56283 13.1887 9.56283 14.1667C9.56283 15.1447 10.3557 15.9375 11.3337 15.9375C12.3116 15.9375 13.1045 15.1447 13.1045 14.1667C13.1045 13.1887 12.3116 12.3958 11.3337 12.3958ZM9.91699 21.25H24.0837V17.7083L20.2093 13.834C20.0018 13.6265 19.6655 13.6265 19.458 13.834L14.167 19.125L12.4176 17.3756C12.2102 17.1682 11.8738 17.1682 11.6663 17.3756L9.91699 19.125V21.25Z%22 fill=%22%232B3674%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: @border-radius-sm;
  }

  &.og-dark-background {
    background-color: darken(@color-image-background, 3%);
  }
}

.og-info {
  display: flex;
  align-items: center;
  gap: @size-3-5;
  background-color: @color-neutral-background;
  border-radius: @border-radius-sm;
  padding: @size-3;

  .og-info-header {
    font-weight: 700;
  }

  svg {
    flex-shrink: 0;
  }
}

.og-new-order-date {
  background: @color-image-background;
  padding: @size-3;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid; // Align product info in the center

  .og-order-item-content {
    grid-column: 2;
  }

  dt {
    font-size: @text-xs;
  }

  dd {
    font-weight: 700;
    font-size: @text-sm;
  }
}

.og-new-orders-list {
  overflow-y: auto;
  max-height: 50vh;
  gap: @size-3;
  margin-top: @size-4;
  grid-template-columns: 1fr auto 1fr;
  display: grid;
}

.og-product-title-sm {
  font-size: @text-sm;
  font-weight: 500;
}

/* Typography */
h1.og-large {
  font-size: @text-xl;
}

.og-subheading {
  font-weight: 700;
  font-size: @size-4-5;
  margin: @size-4 0 @size-4;
  letter-spacing: -0.02em;

  @media screen and (min-width: @mobile-width) {
    font-size: @size-7;
    margin-top: @size-12;
  }
}

p {
  font-size: @text-xs;
}

/* Typography - desktop */
@media (min-width: @mobile-width) {
  h1.og-large {
    font-size: @size-8-5;
  }

  p {
    font-size: @text-base;
  }
}
