.og-inactive-subscriptions {
  margin: @size-10 0;

  .og-order-items {
    border: 1px solid @color-border;
    border-radius: @border-radius-md;
    margin-top: @size-6;
    max-height: 580px;
    overflow: auto;
    padding-right: @size-2;
    gap: @size-4;
    box-shadow: @box-shadow-sm;

    @media (min-width: @mobile-width) {
      padding: @size-4;
      gap: @size-6;
      max-height: 430px;
    }
  }

  .og-order-item-info {
    @media (min-width: @mobile-width) {
      align-items: center;
    }
  }

  @media (min-width: @mobile-width) {
    .og-inactive-product {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .og-product-title {
    margin-bottom: 0;
  }

  .og-inactive-subscription-actions button.og-action-button {
    width: 100%;
    margin-top: @size-4;

    @media (min-width: @mobile-width) {
      width: auto;
      margin: 0;
    }
  }
}
