@keyframes og-hide-notification {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes og-show-notification {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

sm-notifications {
  position: fixed;
  top: 150px;
  right: 0;
  max-width: 100%;
  z-index: 10000;
}

@notification-spacing: @size-2-5;
@notification-animation-duration: 0.2s;

.og-notification {
  position: relative;
  display: grid;
  grid-template-columns: @size-10 1fr @size-10;
  align-items: center;
  margin-right: @size-2;
  margin-bottom: @notification-spacing;
  padding: @size-2 0;
  width: 242px;
  color: @color-tertiary;
  font-size: @size-3-5;
  list-style: none;
  background: @color-notification-success-bg;
  border-radius: @border-radius-sm;
  animation: og-show-notification 0s forwards;
}

.og-notification[data-visibility='hidden'] {
  animation-name: og-hide-notification;

  &:not([data-animating-out]) {
    display: none;
  }
}

.og-notification[data-state='error'] {
  background: @color-notification-error-bg;
}

@media (min-width: @mobile-width) {
  .og-notification {
    width: 591px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .og-notification {
    animation-duration: @notification-animation-duration;
  }

  // when a notification is animating out, animate each notification below it into its new position
  .og-notification[data-animating-out] ~ .og-notification {
    translate: 0 calc(-100% - @notification-spacing); // the notification's height + the spacing between notifications
    transition: translate @notification-animation-duration;
  }
}

.og-notification-close,
.og-notification-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

button.og-notification-close {
  background: transparent;
  border: none;
  cursor: pointer;
}

button.og-notification-close:focus-visible {
  outline-offset: 4px;
  outline-style: solid;
  outline-color: @color-primary;
}
