.og-order-item-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'og-order-item-info'
    'center-options ';
  gap: @size-4;
//   padding-top: @size-10;

  &[data-item-type='one_time'] {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'og-order-item-info og-order-item-info'
      'center-options buttons';
  }

  @media (min-width: @mobile-width) {
    grid-template-columns: 3fr 3fr 4fr;
    grid-template-areas: 'og-order-item-info center-options buttons';

    &[data-item-type='one_time'] {
      grid-template-columns: 3fr 3fr 4fr;
      grid-template-areas: 'og-order-item-info center-options buttons';
    }
  }
}

.og-order-item-info {
  grid-area: og-order-item-info;
  grid-column: 1 / -1;

  @media (min-width: @mobile-width) {
    grid-column: auto;
  }
}

.og-order-item {
  position: relative;
}

.og-frequency-display {
  grid-area: center-options;
  font-size: @text-xs;
  color: @color-secondary;
  display: flex;
  gap: @size-8;
  padding: @size-2;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1rem;

  @media (min-width: @mobile-width) {
    font-size: @text-sm;
    align-self: center;
    padding: 0;
    margin-bottom: 0;
    justify-content: flex-start;
  }
  
  label {
    padding-left: @size-1;
  }
}

.og-price {
  font-size: @text-xs;

  @media (min-width: @mobile-width) {
    font-size: @text-base;
  }
}

.og-original-price {
  font-weight: 400;
  color: @color-secondary;
}

.og-final-price {
  font-weight: 500;
}

.og-item-description-text {
  font-size: @text-xs;
  font-style: italic;

  @media (min-width: @mobile-width) {
    font-size: @text-sm;
  }
}

.og-item-overlay {
  display: flex;
  position: relative;
  left: calc(-1 * @size-3-5);
  top: @size-9;
  isolation: isolate;
}

.og-item-badge {
  font-size: @text-xxs;
  font-weight: 700;
  color: @color-badge-text;
  padding: @size-1 @size-4;
  border-radius: 4px;
  word-break: break-word;

  &.og-badge-pay-as-you-go {
    background-color: @color-pay-as-you-go;
  }
  &.og-badge-prepaid {
    background-color: @color-prepaid;
  }
  &.og-badge-one-time {
    background-color: @color-one-time;
  }
}

.og-item-badge-hook {
  position: absolute;
  left: 0;
  top: calc(100% - @size-4);
  z-index: -1;
  pointer-events: none;

  &.og-badge-pay-as-you-go {
    fill: darken(@color-pay-as-you-go, 20%);
  }

  &.og-badge-prepaid {
    fill: darken(@color-prepaid, 20%);
  }

  &.og-badge-one-time {
    fill: darken(@color-one-time, 20%);
  }
}

.og-order-item-buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: @mobile-width) {
    justify-content: flex-end;
  }
  
  .og-button:focus-visible, .og-icon-button:focus-visible {
    outline-offset: unset;
    outline-style: unset;
    outline-color: unset;
  }
}

.og-prepaid-controls {
  font-size: @size-3-5;
  font-weight: 500;
}

.og-prepaid-received:after {
  content: '•';
  margin: 0 @size-1;
  color: @color-secondary;
}

.og-prepaid-remaining {
  font-weight: 500;
}

.og-prepaid-summary {
  color: @color-secondary;
}

.og-renew-prepaid {
  margin-top: @size-1;
  display: flex;
  gap: @size-2;
  align-items: center;

  input[type='checkbox'] {
    accent-color: @color-primary;
    transform: scale(1.2);
  }
}
