.og-order-summary-container {
  background: @color-button-secondary-bg;
  padding: @size-6 @size-2;
  color: @color-tertiary;
  border-radius: 0 0 @border-radius-md @border-radius-md;

  @media (min-width: @mobile-width) {
    padding: @size-10;
  }

  h4 {
    font-size: @text-sm;
    @media (min-width: @mobile-width) {
      font-size: @text-base;
    }
  }

  .og-order-summary {
    border: @color-border;
    border-radius: @border-radius-md;
    background: @container-background;
    padding: @size-2 @size-3;

    @media screen and (min-width: @mobile-width) {
      padding: @size-2 @size-11;
    }
  }

  sm-toggle {
    padding: @size-3 @size-1;

    @media screen and (min-width: @mobile-width) {
      padding: @size-4 @size-2;
    }

    &[data-open] .og-hide-on-open {
      display: none;
    }
  }

  .og-summary {
    display: flex;
    align-items: center;
  }

  [data-toggle-trigger] {
    margin-left: auto;
  }

  .og-summary-heading {
    font-weight: 700;
  }
  .og-shipping,
  .og-billing {
    border-bottom: 1px solid @color-border;
  }
}

.og-cost-breakdown {
  margin: @size-2;
  padding-bottom: @size-3;
  border-bottom: 1px solid @color-border;
  @media (min-width: @mobile-width) {
    margin: @size-3;
  }
  dl {
    div {
      display: flex;
      justify-content: space-between;
    }
    width: 100%;
    font-size: @text-xs;
    @media (min-width: @mobile-width) {
      font-size: @text-base;
    }
  }
}

.og-total-card {
  margin-top: @size-4;
  max-width: 595px;
  padding-top: @size-1;
}

.og-hide-on-open {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  // on really small screens, shrink this helper text a bit
  @media (max-width: @mobile-width-sm) {
    font-size: @text-xs;
  }
}

.og-price-heading {
  font-size: @text-sm;
  @media (min-width: @mobile-width) {
    font-size: @text-lg;
  }
}

.og-hide-on-open:before {
  content: '•';
  margin: 0 @size-1;
  @media (min-width: @mobile-width) {
    margin: 0 @size-2;
  }
}

.og-total {
  font-weight: 700;
  font-size: @text-base;

  @media (min-width: @mobile-width) {
    font-size: @text-lg;
  }
}

.og-disclaimer {
  font-size: @text-xxs;

  @media (min-width: @mobile-width) {
    font-size: @text-xs;
  }
}

.og-total-display {
  margin: @size-3 @size-3 0 0;
}
