.og-page-title {
  background: @container-background;

  .og-page-title-content {
    border-radius: @border-radius-md;
  }

  .og-page-title-description {
    width: 100%;
  }

  h1 {
    font-weight: 700;
    color: @color-page-title;
    color: black;
  }

  p {
    font-size: @text-base;
    color: @color-page-title;
    color: black;
  }

  /* Desktop-specific styles */
  @media (min-width: @mobile-width) {
    width: 100%;
    margin: auto;
    border-radius: @border-radius-md;

    .og-page-title-description {
      border-radius: @border-radius-md;
      place-items: start;
    }
    p {
      font-size: @text-xl;
    }
  }
}
