.og-reactivate-subscription {
  sm-datepicker {
    .og-datepicker-popover {
      bottom: 0;
      position: fixed;
      @media (min-width: @mobile-width) {
        bottom: unset;
      }
    }

    .og-trigger {
      padding: @size-0-5 @size-1-5 @size-0-5 0;
    }
  }

  .og-reactivate-frequency {
    display: flex;
    font-size: @size-5;
    gap: @size-2;
    justify-content: center;
    align-items: center;
    padding-top: @size-4;
  }
}
