.og-shipping-summary-container {
  display: flex;
  flex-direction: column;
  gap: @size-5;
  padding: @size-2 0;
  overflow-y: hidden;

  @media (min-width: @mobile-width) {
    flex-direction: row;
  }
}

.og-shipping-addresses,
.og-payments {
  display: flex;
  gap: @size-5;
  overflow-y: auto;
}

.og-payments {
  padding: @size-2 0;
}

.og-shipping-address,
.og-shipping-card {
  border: 1px solid @color-inactive-card-outline;
  border-radius: @border-radius-sm;
  text-align: left;
  padding: 0;
}

.og-shipping-address,
button.og-shipping-card {
  display: flex;
  gap: @size-5;
  background: none;
  cursor: pointer;
  outline: inherit;

  &[aria-current='true'] {
    order: 1;
    border-color: @color-active-card-outline;
  }

  &:focus-visible {
    outline-offset: 4px;
    outline-style: solid;
    outline-color: @color-primary;
  }
}

.og-shipping-address {
  border: 0;
  cursor: initial;
}

.og-payment-container {
  border: 1px solid @color-active-card-outline;
  border-radius: @border-radius-sm;
  padding: @size-2-5 @size-3-5;
}

.og-shipping-address-form {
  order: 2;
}

.og-payment-container,
.og-shipping-address-container,
.og-add-shipping-address,
.og-shipping-wrapper {
  width: 25%;
  min-width: 214px;
  min-height: 83px;
  font-size: @text-sm;
  position: relative;

  a,
  .og-tile-action {
    position: absolute;
    right: 0;
    top: @size-1;
    font-size: @text-xs;
    color: @color-primary;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    vertical-align: center;
    gap: @size-1;
  }

  .og-edit-shipping-button {
    padding: @size-2;
  }
}

.og-shipping-address-container,
.og-add-shipping-address {
  padding: @size-2-5 @size-3-5;
}

.og-edit-address-form {
  gap: @size-3;
  display: grid;
  grid-template-columns: 1fr;
  max-height: 55vh;
  overflow: auto;
  padding: @size-1;
  font-size: @text-sm;

  input {
    border-radius: @border-radius-xs;
    border: 1px solid @color-border;
    padding: @size-1;
  }

  label {
    color: @color-secondary;
  }

  .og-full-width {
    grid-column: 1 / -1;
  }

  .og-half-width {
    grid-column: span 1;
  }

  @media (min-width: @mobile-width) {
    grid-template-columns: 1fr 1fr;
  }

  // select labels before required inputs
  label:has(+ [required]):after {
    content: '*';
    color: @color-error;
  }
}

sm-country-state-dropdown {
  display: contents;
}

.og-column-form-gap {
  column-gap: @size-3;
  align-items: stretch;
}

.og-shipping-subtitle {
  margin-bottom: @size-4;
}

.og-add-shipping-address {
  align-self: start;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: @color-primary;
  width: 25%;
  min-width: 214px;
  text-align: center;
  font-size: @text-xs;

  @media (min-width: @mobile-width) {
    font-size: @text-sm;
  }
}

// we don't want the modal treated like a flex item, resulting in an extra gap that isn't needed
.og-change-shipping-modal,
.og-change-shipping-modal sm-dialog {
  display: contents;
}

.og-shipping-name {
  padding-right: @size-5;
  word-break: break-word;
}

.use-for-all {
  display: flex;
  align-items: center;
  gap: 5px;
}
