.og-sku-swap-product-change {
  input:checked + label {
    border-color: @color-primary;
  }

  input:focus-visible + label {
    outline: 1.5px solid lighten(@color-primary, 10%);
    outline-offset: 4px;
  }

  label {
    align-items: center;
    cursor: pointer;
    padding: @size-2;
    border: 1.5px solid @color-border;
    border-radius: @border-radius-sm;

    div {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.og-sku-swap-display {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  align-items: start;
  align-content: start;
  gap: @size-2;
  margin: @size-4 0;
  width: 100%;
  overflow: auto;
  max-height: 60vh;
  position: relative;

  @media (min-width: @mobile-width) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: @size-4;
  }

  .og-no-result-message {
    display: none;
    color: @color-secondary;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}

.og-sku-swap-search-wrapper {
  position: relative;
  margin-top: @size-4;

  @wrapping-border-width: 1px;

  input {
    border: @wrapping-border-width solid @color-border;
    border-radius: @border-radius-xs;
    padding: @size-1 @size-3;
    width: 100%;
  }

  .og-sku-swap-search-icons {
    position: absolute;
    // place it inside the wrapping input's border
    right: @wrapping-border-width;
    top: @wrapping-border-width;
    height: calc(100% - @wrapping-border-width * 2);

    display: flex;
    width: fit-content;
  }

  .og-sku-swap-search-icon {
    background-color: @color-neutral-background;
    display: grid;
    place-items: center;

    width: @size-8;
    border: @wrapping-border-width solid transparent;
    border-radius: calc(@border-radius-xs - @wrapping-border-width);
  }

  button {
    display: grid;
    place-items: center;
    align-self: center;
  }

  // hide the clear button when nothing is in the input
  input:placeholder-shown + .og-sku-swap-search-icons button {
    display: none;
  }
}
