sm-toggle {
  display: block;

  > [data-toggle-content] {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 300ms;
    overflow: hidden;
    @media (prefers-reduced-motion: no-preference) {
      transition-property: height, opacity;
    }
  }

  &:not([data-animating]) > [data-toggle-content] {
    display: none;
  }

  &[data-open] > [data-toggle-content] {
    opacity: 1;
    display: block;
  }

  [data-toggle-trigger] {
    --og-button-padding: @size-3 @size-2-5;
    transition: transform 0.2s ease;

    &::after {
      content: @chevron-down;
    }
  }

  &[data-open] > :not([data-toggle-content]) [data-toggle-trigger],
  &[data-open] > [data-toggle-trigger] {
    transform: rotate(180deg);
  }
}
