.product-hero__rating {
  height: 10px;
  margin-top: -3px;
  --oke-stars-foregroundColor: #000;

  @include above('desktop') {
    margin-top: 0;
  }

  .okeReviews {
    line-height: 12px;
  }

  .oke-sr-stars {
    margin-left: 0;
    margin-right: 4px;
    font-size: 10px;
    line-height: 10px;

    .oke-stars {
      .oke-stars-foreground {
        width: unset;
      }

      .oke-stars-foreground,
      .oke-stars-background {
        display: flex;
        width: unset;

        svg {
          height: 9px;

          @include above('desktop') {
            height: 11px;
          }
        }
      }
    }
  }

  .oke-sr-count {
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    span {
      color: #767676;
    }

    @include above('desktop') {
      height: 14px;
      font-size: 12px;
    }

    .oke-sr-label-text {
      display: none;
    }
  }
}