
<!-- Follow us -->
<div class="follow-us texture-left">
  <div class="container">
    <h2>Follow Us!</h2>
    <div id="insta-feed"></div>
  </div>
</div>
<!-- /Follow us -->
{% schema %}
  {
    "name": "Follow us!",
    "settings": [],
   "presets": [{
    "name": "Follow us!"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
