
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="media-heading text-uppercase">
        Watch
      </div>
    </div>              
  </div>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="media-content">
        <div class="blog-media">
          <img src="https://cdn.shopify.com/s/files/1/1103/4864/files/blog.png?v=1592236326" class="img-fluid"/>
          <a href="#" class="play-btn"  data-toggle="modal" data-target="#videoModal"><i class="fa fa-play"></i>
          </a>
        </div>
        <div class="blog-content">
          <h6 class="blog-date">12 mar 2019</h6>
          <h4 class="blog-heading"><a href="#">Strong green</a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="media-content">
        <div class="blog-media">
          <img src="https://cdn.shopify.com/s/files/1/1103/4864/files/blog.png?v=1592236326" class="img-fluid"/>
          <a href="#" class="play-btn"><i class="fa fa-play"></i>
          </a>
        </div>
        <div class="blog-content">
          <h6 class="blog-date">12 mar 2019</h6>
          <h4 class="blog-heading"><a href="#">Strong green</a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="media-content">
        <div class="blog-media">
          <img src="https://cdn.shopify.com/s/files/1/1103/4864/files/blog.png?v=1592236326" class="img-fluid"/>
          <a href="#" class="play-btn"><i class="fa fa-play"></i>
          </a>
        </div>
        <div class="blog-content">
          <h6 class="blog-date">12 mar 2019</h6>
          <h4 class="blog-heading"><a href="#">Strong green</a></h4>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-right">
        <a href="#" class="text-uppercase">view more</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="media-heading text-uppercase">
        Listen
      </div>
    </div>              
  </div>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="media-content">
        <div class="blog-media">
          <img src="https://cdn.shopify.com/s/files/1/1103/4864/files/blog.png?v=1592236326" class="img-fluid"/>
          <a href="#" class="play-btn" data-toggle="modal" data-target="#audioModal"><i class="fa fa-play"></i>
          </a>

        </div>
        <div class="blog-content">
          <h6 class="blog-date">12 mar 2019</h6>
          <h4 class="blog-heading">Strong green</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="media-content">
        <div class="blog-media">
          <img src="https://cdn.shopify.com/s/files/1/1103/4864/files/blog.png?v=1592236326" class="img-fluid"/>
        </div>
        <div class="blog-content">
          <h6 class="blog-date">12 mar 2019</h6>
          <h4 class="blog-heading"><a href="#">Strong green</a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="media-content">
        <div class="blog-media">
          <img src="https://cdn.shopify.com/s/files/1/1103/4864/files/blog.png?v=1592236326" class="img-fluid"/>
        </div>
        <div class="blog-content">
          <h6 class="blog-date">12 mar 2019</h6>
          <h4 class="blog-heading"><a href="#">Strong green</a></h4>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-right">
        <a href="#" class="text-uppercase">view more</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="media-heading text-uppercase">
        READ
      </div>
    </div>              
  </div>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="media-content">
        <div class="blog-media">
          <img src="https://cdn.shopify.com/s/files/1/1103/4864/files/blog.png?v=1592236326" class="img-fluid"/>
        </div>
        <div class="blog-content">
          <h6 class="blog-date">12 mar 2019</h6>
          <h4 class="blog-heading"><a href="#">Strong green</a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="media-content">
        <div class="blog-media">
          <img src="https://cdn.shopify.com/s/files/1/1103/4864/files/blog.png?v=1592236326" class="img-fluid"/>
        </div>
        <div class="blog-content">
          <h6 class="blog-date">12 mar 2019</h6>
          <h4 class="blog-heading"><a href="#">Strong green</a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="media-content">
        <div class="blog-media">
          <img src="https://cdn.shopify.com/s/files/1/1103/4864/files/blog.png?v=1592236326" class="img-fluid"/>
        </div>
        <div class="blog-content">
          <h6 class="blog-date">12 mar 2019</h6>
          <h4 class="blog-heading"><a href="#">Strong green</a></h4>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-right">
        <a href="#" class="text-uppercase">view more</a>
      </div>
    </div>
  </div>
</div>
{% schema %}
   {
    "name": "Media Types",
    "class": "Media Types",
    "settings": [],
    "blocks": [
      {
        "type": "video",
        "name": "Video",
        "settings": [
            {
                "id": "image",
                "type": "image_picker",
                "label": "Image"
            },
            {
                "id": "date",
                "type": "text",
                "label": "Date"
            },
            {
                "id": "title",
                "type": "text",
                "label": "Date"
            },
            {
                "id": "video_url",
                "type": "text",
                "label": "Video URL"
            }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
