
<div class="bs-tabs-wrapper desktop-view">
  <ul>
    <li> <a herf="/pages/the-bare-standard">THE BARE STANDARD</a> </li>
    <li> <a herf="/pages/integrity">INTEGRITY</a> </li>
    <li> <a herf="/pages/transparency">TRANSPARENCY</a> </li>
    <li class="active-link"> <a herf="/pages/service">SERVICE</a> </li>
  </ul>
</div>
<div class="bottom-nav top-nav mobile-view">
  <ul >
    <li><a href="/pages/the-bare-standard"><img src="{{ 'bottom_nav_left_arrow.svg'| asset_url }}"></a> </li>
    <li><a href="/pages/transparency">TRANSPARENCY</a> </li>
    <li><a href="/pages/the-bare-standard">THE BARE STANDARD</a> </li>
    <li><a href="/pages/service"><img src="{{ 'bottom_nav_right_arrow.svg'| asset_url }}"></a> </li>
  </ul>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
