
<div class="section-title-fifth">
  <h2> {{ section.settings.title }}</h2>
</div>
{% schema %}
{
    "name": "Achieve Your Goals Title",
    "settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		}
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}