.button,
input[type="button"] {
  font-family: "Blender pro","Arial","Helvetica Neue","Helvetica",sans-serif;
  @include use-text-style("button");
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &[disabled] {
    opacity: 0.7;
    pointer-events: none;
  }
  &[aria-disabled="true"] {
    opacity: 0.7;
    pointer-events: none;
  }
}
.button-small {
  @include use-text-style("button-small");
  height: rem(36px);
}
.button-primary {
  color: color("button-primary-clr");
  background-color: color("button-primary-bg");
  border-color: color("button-primary-bg");

  &:hover,
  &:focus {
    color: color("button-primary-hover-clr");
    background-color: color("button-primary-hover-bg");
    border-color: color("button-primary-hover-bg");
  }
}
.button-secondary {
  color: color("button-secondary-clr");
  background-color: color("button-secondary-bg");
  border-color: color("button-secondary-bg");

  &:hover,
  &:focus {
    color: color("button-secondary-hover-clr");
    background-color: color("button-secondary-hover-bg");
    border-color: color("button-secondary-hover-bg");
  }
}
.button-primary-outline {
  border-color: color("black");
  background-color: transparent;
  color: color("black");

  &:hover,
  &:focus {
    background-color: color("black");
    color: color("white");
  }
}

.button-secondary-outline {
  border-color: color("white");
  background-color: transparent;
  color: color("white");

  &:hover,
  &:focus {
    background-color: color("white");
    color: color("black");
  }
}
.button-link {
  @include use-text-style("button-link");
  color: color("black");
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 0.4375rem;
  border-bottom: 2px solid var(--btn-link-border-clr);
  transition: border-color ease-in-out 0.2s;

  &:not(:disabled):hover,
  &:focus {
    color: color("black");
    border-color: var(--btn-link-border-hover-clr);
  }
}
