<div class="og-datepicker-popover" data-datepicker-popover data-visibility="hidden">
  <calendar-date>
    <svg
      slot="previous"
      width="9"
      height="14"
      viewBox="0 0 9 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M7.32422 1L1.93545 7.00098L7.32422 13" stroke="#4318FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <svg
      slot="next"
      width="9"
      height="14"
      viewBox="0 0 9 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1.67566 13L7.06443 6.99902L1.67566 1" stroke="#4318FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <calendar-month></calendar-month>
  </calendar-date>
  <div data-slot="footer" class="og-datepicker-footer">
    <button type="button" class="og-button" data-variant="tertiary" data-datepicker-cancel>
      {{ 'cancel_button' | t }}
    </button>
    <button type="button" class="og-button" data-datepicker-save>
      {{ 'datepicker_save' | t }}
    </button>
  </div>
</div>
