{# Inactive subscriptions entry point #}
<section class="og-inactive-subscriptions">
  <h2 class="og-title">{{ 'subscriptions_inactive_header' | t }}</h2>
  <div class="og-order-items">
    {% for subscription in subscriptions | reject('live') %}
      <div class="og-inactive-subscription og-order-item">
        {% set product = products | find(id=subscription.product) %}
        {% if product %}
          <div class="og-inactive-product og-card">
            <div class="flex-row og-order-item-info">
              <div class="og-thumbnail">
                <img src="{{ product.image_url }}" alt="" onerror="this.style.display='none';">
              </div>
              <div class="flex-column">
                <h3 class="og-product-title">{{ product.name }}</h3>
              </div>
            </div>
            <div class="og-inactive-subscription-actions">
              {% include 'reactivate-subscription' %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</section>
