{# This template serves as the entrypoint of the SMI #}
<div class="og-container">
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
    rel="stylesheet"
  >
  {% include 'icons' %}
  {% if loading %}
    <div class="og-content-skeleton"></div>
  {% else %}
    {% include 'page-title' %}
    {% if orders.length or (subscriptions | reject('live')).length %}
      {# The markup within this block is shown if the customer is logged in and has an order or subscription #}
      {% if (orders | select(status='SEND_NOW')).length %}
        {% include 'order-processing' %}
      {% endif %}
      {% if (orders | select(status='UNSENT')).length %}
        {% include 'upcoming-orders' %}
      {% endif %}
      {% if (subscriptions | reject('live')).length %}
        {% include 'inactive-subscriptions' %}
      {% endif %}
    {% else %}
      {# The markup within this block is shown if the customer is either not logged in or has neither an order nor a
      subscription #}
      {% include 'no-subscriptions' %}
    {% endif %}
  {% endif %}
  {% include 'notifications' %}
</div>
{# /og-container #}
