<div class="og-no-subscriptions og-content-wrapper">
  <div class="og-message">
    <p>{{ 'not_a_subscriber' | t }}</p>
    {% set shop_now_button_url = 'shop_now_button_url' | t %}
    <a href="/" class="og-button">
      {{ 'shop_now_button_text' | t }}
    </a>
  </div>
</div>
