<div class="og-content-wrapper">
  <sm-toggle data-open class="og-order-toggle">
    {% set current_order_items = order_items | select(order=order.public_id) %}
    {% if order.status == 'UNSENT' %}
      {% include 'order-header' %}
    {% endif %}
    {% set payment = payments | find(id=order.payment) %}
    {% set shipping_address = addresses | find(id=order.shipping_address) %}
    <div data-toggle-content>
      <div class="og-order-items">
        {% for order_item in current_order_items %}
          {% set product = products | find(id=order_item.product) %}
          {% set subscription = subscriptions | find(id=order_item.subscription) %}
          {% if product %}
            {% include 'order-item-and-product/order-item' %}
          {% endif %}
        {% endfor %}
      </div>
      {% include 'order-summary/order-summary' %}
    </div>
  </sm-toggle>
</div>
