<div class="og-page-title" style="--header-image-url: url('{{ environment.asset_url }}/header.png')">
  <div class="og-page-title-content">
    <div class="og-page-title-description">
      <h1 class="og-large">
        {{ 'msi_main_title' | t }}
      </h1>
      <p>{{ 'msi_main_title_description' | t }}</p>
    </div>
  </div>
</div>
