{% if 'external_shipping_enabled' | setting %}
  <a class="og-link" href="{{ 'external_shipping_url' | setting }}" target="_blank">
    {{ 'shipment_unsent_footer_shipping_edit' | t }}

    <svg width="16" height="16">
      <use href="#external-link"></use>
    </svg>
  </a>

{% else %}
  {% set shipping_modal_id = "og-edit-shipping-" + address.public_id + "-" + order.public_id %}
  <button
    class="og-button og-tile-action og-edit-shipping-button"
    data-variant="tertiary"
    @click="{{ '(ev) => {ev.preventDefault(); SMDialog.open(ev)}' | js }}"
    data-click-target="{{ shipping_modal_id }}"
  >
    <svg width="20" height="20">
      <use href="#edit"></use>
    </svg>
  </button>
  {% include 'order-summary/change-shipping-modal' %}
{% endif %}
