.page-container {
  transition: $transition-drawer;
  position: relative;
  overflow: hidden;

  @include mq($medium-up) {
    // Prevent mobile menu inline styles from overriding desktop styles
    // sass-lint:disable no-important
    @include transform(translate3d(0, 0, 0));
  }
}
