.predictive-search-wrapper--drawer {
  @include mq($small) {
    padding-top: $predictive-search-list-padding;
    margin-top: 3px;
  }
}

.predictive-search-wrapper--visible {
  display: block;
}

.predictive-search {
  height: 100%;
  text-align: left;

  // We swap `overflow-y` with the parent `wrapper`
  // as we are full height with padding-bottom for mobile
  .search-bar & {
    @include mq($medium-down) {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}

///
/// Loading

.predictive-search-loading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: $predictive-search-list-padding 0;
  text-align: center;
}

.icon-predictive-search-spinner {
  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 4px solid;
    border-color: currentColor currentColor currentColor transparent;
    @include animation(spin 500ms infinite linear);
  }
}

.predictive-search-loading__icon {
  display: inline-block;
  margin: 0;
  color: $color-body-text;
  width: $icon-size;
  height: $icon-size;

  .icon-predictive-search-spinner::before {
    width: 100%;
    height: 100%;
    border-width: 3px;
  }
}

///
/// Title

.predictive-search-title {
  position: relative;
  display: flex;
  align-items: center;
  padding: $predictive-search-list-padding;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    height: 0;
    background-color: $color-border;
  }

  &::after {
    content: "";
    position: absolute;
    right: $predictive-search-list-padding;
    bottom: -$input-border-width;
    left: $predictive-search-list-padding;
    height: $input-border-width;
    background-color: $color-border;
  }
}

.predictive-search-wrapper--drawer .predictive-search-title {
  @include mq($small) {
    &::before {
      height: $input-border-width;
    }
  }
}

.predictive-search-title__content {
  flex: 1 1 auto;
  margin-bottom: 0;
  padding-right: $icon-size * 2;
  font-size: $predictive-search-heading-title-font-size;
  /*font-family: $font-stack-body;*/
  font-weight: $font-weight-body;
  text-transform: uppercase;
  color: $color-body-text;
  white-space: normal;
}

.predictive-search-title__loading-spinner {
  flex: 0 0 auto;
  position: absolute;
  top: 50%;
  right: $predictive-search-list-padding;
  margin-top: -($icon-size / 2);
  width: $icon-size;
  height: $icon-size;
  color: $color-body-text;

  .icon-predictive-search-spinner::before {
    width: 100%;
    height: 100%;
    border-width: 3px;
  }
}

///
/// Items

.predictive-search-item {
  font-weight: 400;
  white-space: normal;
}

.predictive-search-item__details {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
}

.predictive-search-item__detail--inline {
  display: flex;
  flex-direction: row;
}

.predictive-search-item__link {
  display: flex;
  padding: $predictive-search-list-padding;
  background-color: transparent;
  transition: background-color $transition-duration-fast ease-in-out;

  &:active {
    background-color: transparent;
  }
}

.predictive-search-item--selected .predictive-search-item__link,
.predictive-search-item--selected .predictive-search-view-all__button,
.predictive-search-item__link:hover {
  background-color: $predictive-search-hover-and-select-background-color;

  .predictive-search-item__title-text {
    border-bottom-color: $color-text;
  }
}

.predictive-search__column {
  flex: 1 1 auto;
}

.predictive-search__column--image {
  flex-grow: 0;
  flex-shrink: 0;
  width: $predictive-search-image-size;
  height: $predictive-search-image-size;
  margin-right: 12px;
  position: relative;
}

.predictive-search-item__image {
  object-fit: contain;
  font-family: "object-fit: contain";
  width: 100%;
  height: 100%;
}

.predictive-search__column--content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.predictive-search__column--center {
  justify-content: center;
}

.predictive-search-item__title-text {
  display: inline-block;
  color: $color-text;
  word-break: break-word;
  border-bottom: 1px solid transparent;
  line-height: 1.2;
  font-family: $font-stack-header;
  font-weight: $font-weight-header;
}

.predictive-search-item__vendor {
  color: $color-body-text;
  font-size: $predictive-search-vendor-font-size;
  text-transform: uppercase;
}

.predictive-search-item__price {
  padding-top: 6px;
  flex: 0 0 auto;
  color: $color-body-text;
}

.predictive-search-item__price--sale {
  color: $color-sale-text;
}

.predictive-search-item__price--compare {
  text-decoration: line-through;
}

// View all
.predictive-search-view-all,
.predictive-search-loading {
  border-top: 1px solid $color-border;

  @include mq($medium-up) {
    .predictive-search__list &:first-child {
      border-top: none;
    }
  }
}

.predictive-search-view-all__button {
  display: block;
  width: 100%;
  border: none;
  padding: $predictive-search-list-padding;
  text-align: left;
  color: $color-text;
  background-color: transparent;
  word-break: break-word;
  white-space: normal;
  font-family: $font-stack-header;
  font-weight: $font-weight-header;

  &:hover,
  &:focus {
    background-color: $predictive-search-hover-and-select-background-color;
  }
}
