.#{$prefix}quiz {
  margin: 0 auto;
  padding: 205px 0 237px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), var(--background-image) #d3d3d3 -684.561px -29px / 465.099% 107.046% no-repeat;
  max-width: 1920px;
}

.#{$prefix}quiz__subtitle {
  color: color('bpn-red');

  @include use-text-style('bpn-title-1-large');
  text-align: center;
  letter-spacing: -0.32px;
  font-style: normal;
}

.#{$prefix}quiz__title {
  color: color('bpn-white');

  @include use-text-style('bpn-h2-small');
  text-align: center;
  letter-spacing: -1.92px;
  font-style: normal;
}

.#{$prefix}quiz__link-container {
  margin-top: 8px;
  text-align: center;
}

.#{$prefix}quiz__link {
  display: inline-block;
  padding: 17px 24px;
  border: 1px solid color('bpn-grey-10');
  border-radius: 5px;
  color: color('bpn-grey-10');
  text-align: center;
  min-width: 258px;
}

.#{$prefix}quiz__link:hover {
  border: 1px solid color('bpn-white');
  color: color('bpn-white');
}

.#{$prefix}quiz__text {
  width: 282px;
  margin: 20px auto 0;
  color: color('bpn-white');

  @include use-text-style('bpn-title-1-large');
  text-align: center;
  letter-spacing: 0;
  font-style: normal;
}


@include above('tablet') {
  .#{$prefix}quiz {
    background-position: center;
    background-size: cover;
  }
}

@include above('desktop') {
  .#{$prefix}quiz__container {
    display: flex;
    gap: 64px;
    justify-content: center;
    margin-top: 46px;
  }

  .#{$prefix}quiz__link {
    width: 458px;
    margin-top: 3px;
    padding: 27px 34px;

    @include use-text-style('bpn-h3');
    letter-spacing: -1.44px;
    font-style: normal;
  }

  .#{$prefix}quiz {
    padding: 288px 0 360px;
  }

  .#{$prefix}quiz__subtitle {
    @include use-text-style('bpn-h6');
    letter-spacing: -0.48px;
    font-style: normal;
  }

  .#{$prefix}quiz__title {
    @include use-text-style('heading-1');
    letter-spacing: -4.32px;
    font-style: normal;
    min-width: 571px;
  }

  .#{$prefix}quiz__link-container {
    align-items: center;
    display: flex;
    margin-top: 0;
  }

  .#{$prefix}quiz__text {
    width: 640px;
    margin: 32px auto 0;

    @include use-text-style('bpn-body-xlarge');
    font-weight: 500;
    font-style: normal;
  }
}

/* stylelint-disable order/properties-order */

/* stylelint-disable selector-class-pattern */

.oct-quiz-btn-wrapper {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: calc(100% - 32px);
  padding-top: 24px;

  @include above('tablet') {
    position: static;
    width: 100%;
  }
}

button.oct-quiz-btn.oct-quiz-btn--primary.oct-quiz-btn--large {
  width: 448px;
  font-size: 18px;
  font-weight: 900;
  padding: 19px 10px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: -0.36px;

  @include below('tablet') {
    width: 100%;
    padding: 17px 10px;
  }
}

div.oct-quiz-collect-text-wrapper {
  padding-top: 20px !important;

  @include below('tablet') {
    padding-top: 16px !important;
  }
}

.oct-quiz-collect-text-wrapper, .oct-quiz-phone-wrapper {
  input {
    padding: 19px 24px !important;
    background: transparent !important;
    font-size: 18px !important;
    font-weight: 500 !important;
    line-height: 18px !important;
    text-align: start !important;
  }
}

ul.oct-quiz-multiple-choice-options.oct-quiz-multiple-choice-options--stacked {
  min-width: 560px;
  padding-top: 16px;

  @include below('tablet') {
    min-width: unset;
    width: 100%;
  }
}

.oct-quiz-multiple-choice-wrapper .oct-quiz-multiple-choice-options li.oct-quiz-multiple-choice-options__option {
  padding: 16px;
  border: solid 1px transparent;
  min-width: 560px;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;
  text-transform: capitalize;

  @include below('tablet') {
    min-width: unset;
    font-size: 18px;
    line-height: 20px;
  }

  &:hover {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
  }
}

div.oct-quiz-title {
  display: flex;
  justify-content: center;
  width: 560px;
  color: color('bpn-white');
  font-size: 40px;
  font-weight: 900;
  justify-self: center;
  line-height: 40px;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: -1.2px;

  @include below('tablet') {
    width: 100%;
  }
}

div.oct-quiz-subheading {
  display: flex;
  width: 560px;
  padding-top: 24px !important;
  color: #CCC;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 auto;
  text-align: left;
  justify-self: center;

  @include below('tablet') {
    display: block;
    width: 100%;
    max-width: 500px;
    font-size: 15px;
  }
}

div.oct-quiz-caption-text {
  padding: 0 !important;
  color: color('bpn-white');
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.oct-quiz-top-content {
  padding-top: 0 !important;
}

div.oct-quiz-close {
  top: 72px;
  right: 64px;
  border: none;
  background: transparent;
  position: absolute;

  svg {
    width: 28px;
    height: 28px;
    color: color('bpn-white');

    @include below('tablet') {
      width: 20px;
      height: 20px;
    }
  }

  @include below('tablet') {
    top: 71px;
    right: 16px;
  }
}

button[title="Back"].oct-quiz-btn--small {
  top: 76px;
  left: 64px;
  margin: 0;
  padding: 0;
  color: color('bpn-white');
  font-size: 22px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: -0.44px;

  @include below('tablet') {
    font-size: 14px;
    top: 79px;
    line-height: 14px;
    letter-spacing: -0.28px;
    left: 16px;
  }
}

.oct-quiz-phone-wrapper {
  p {
    padding-top: 10px;
  }
}

div.oct-quiz-top_content {
  padding-top: 14px;

  @include below('tablet') {
    padding-top: 0;

    .oct-quiz-caption-text:first-of-type {
      display: flex;
      justify-self: center;
      width: 258px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

div.oct-quiz-wrapper {
  padding: 0;
}

div#octane-quiz-outer-wrapper {
  padding: 0 64px;

  @include below('tablet') {
    padding: 0 16px;
  }
}

div.oct-quiz-top_content_title {
  padding-bottom: 0;
}

div.oct-quiz-bottom_content {
  width: 688px;
  justify-self: center;
  margin: 0 auto;
  padding-top: 0;

  @include below('tablet') {
    width: 100%;
    padding-top: 20px;
  }
}

.oct-quiz-btn.oct-quiz-btn--secondary-text.oct-quiz-btn--small {
  margin: 0 0 24px;
  color: color('bpn-white') !important;
}

div[data-element*='oct-quiz-skip-btn'] {
  @include below('tablet') {
    position: absolute;
    bottom: 94px;
  }

  button.oct-quiz-btn.oct-quiz-btn--secondary-text.oct-quiz-btn--small {
    text-transform: uppercase;

    @include below('tablet') {
      margin-bottom: 0;
      text-decoration-line: underline;
      text-underline-offset: 2px;
    }
  }
}

.oct-quiz-wrapper.oct-quiz-wrapper--explainer {
  .oct-quiz-caption-text {
    display: flex;
    justify-content: center;
    width: 100%;

    @include below('tablet') {
      margin-top: 80px !important;
    }
  }
}


div[data-element*='oct-quiz-image oct-quiz-media'] {
  img[alt="quiz-bpn-logo"] {
    position: absolute;
    top:70px;
    right: 0;
    left: 0;
    max-width: 116px !important;
  }
}
