{% section 'standard-banner' %}
{% section 'service-desk-top-nav' %}
<div class="bs-tabs-content-wrapper gray-bg  services-container-main">
  <div class="bs-full-content services-container transparancy-main-block">
    <div class="fixed-width  wow fadeInUp">
      <h1 class="text-center">{{ page.title }}</h1>
      {{ page.content }}
    </div>
  </div>
  {% section 'left-image-right-content' %}
  {% section 'images-slider' %}
  {% section 'righ-image-left-content' %}
</div>
{% section 'service-bottom-nav' %}
