
<div class="mid-container product-category-page">
  {% include 'breadcrumb' %}
  <!-- About -->
  <div class="product-landing">
    {% section 'build-muscle-content' %}
    {% comment %}{% section 'build-muscle-why-stack' %}{% endcomment %}
    {% section 'nine15--collection--two-grid' %}
    {% section 'build-muscle-product-tabs' %}
    {% section 'build-muscle-essential' %}
    {% section 'build-muscle-question-section' %}

  </div>
  <!-- /About-->
</div>