


{% section 'media-banner-image' %}
{% comment%}

{% endcomment %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
       {% comment%}
        {% section 'media-types' %}
       {% endcomment %}
        <div class="container">
          {% section 'media-watch-section' %}
  		    {% comment %}{% section 'media-listen-section' %}{% endcomment %}
          {% section 'media-read-section' %}

          
          <div class="row">
            <div class="col-md-12">
              <div class="media-heading text-uppercase">
                Listen
              </div>
            </div>              
          </div>
          <script async data-type="archive" data-hash="ZrekMj3PnO" src="https://app.fusebox.fm/embed/player.js" ></script>
          <!-- <iframe src="https://app.fusebox.fm/embed/player/archive/ZrekMj3PnO?uncontained" frameborder="0" width="100%" height="590" title="The Bare Performance Podcast"></iframe> -->
      

        </div>
      </div>
    </div>
  </div>
</div>


<!-- video Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Video</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body holds-the-iframe">
        <iframe width="100%" height="450" src="" id="video">
        </iframe>
      </div>
    </div>
  </div>
</div>

<!--Audio Modal -->
<div class="modal fade" id="audioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Audio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body holds-the-iframe">
        <!--<audio controls controlsList="nodownload" style="width:100%; position:fix" id="audio">
          Your browser does not support the audio element.
        </audio> -->
       <iframe id="audio" width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src=""></iframe>
      </div>
    </div>
  </div>
</div>

