
{% section 'bare-standard-banner' %}
{% section 'bare-desk-top-nav' %}

<div class="bs-tabs-content-wrapper bs-tabs-bg1 gray-bg">
  <div class="bs-full-content ">
    <div class="fixed-width wow fadeInUp">
      {{page.content}}
    </div>
  </div>
 {% section 'bare-left-image-right-content' %}
</div>
{% section 'bare-standard-bottom-nav' %}
