
<div class="mid-container product-category-page">
  {% include 'breadcrumb' %}
  <!-- About -->
  <div class="product-landing">
    {% section 'weight-loss-content' %}
    {% comment %}{% section 'weight-loss-why-stack' %}{% endcomment %}
    {% section 'nine15--collection--two-grid' %}
    {% section 'discovery-product-tabs' %}
    {% section 'weight-loss-essential' %}
    {% section 'weight-loss-question-section' %}
  </div>
  <!-- /About-->
</div>