

<div class="mid-container product-category-page">
  {% include 'breadcrumb' %}
  <!-- About -->
  <div class="product-landing">
    {% section 'overall-health-content' %}
    {% comment %}{% section 'overall-health-why-stack' %}{% endcomment %}
    {% section 'nine15--collection--two-grid' %}
    {% section 'overall-health-product-tabs' %}
    {% section 'overall-health-essential' %}
    {% section 'overall-health-question-section' %}
  </div>
  <!-- /About-->
</div>