
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        <div class="top-search-form">
          <div class="gdl-search-button" id="gdl-search-button"></div> 
          <div class="search-wrapper">
            <div class="gdl-search-form">
              <form method="get" id="searchform" action="">
                
                <div class="search-text">
                  <input type="text" value="" name="s" id="s" autocomplete="off" />
                </div>
                <input type="submit" id="searchsubmit" value="Search" />
              </form>
            </div>
      </div>
    </div>
  </div>
</div>
