
<div class="mid-container product-category-page">
  {% include 'breadcrumb' %}
  <!-- About -->
  <div class="product-landing">
    {% section 'performance-content' %}
    {% section 'nine15--collection--two-grid' %}
    {% section 'performance-product-tabs' %}
    {% section 'performance-essential' %}
    {% section 'performance-question-section' %}

  </div>
  <!-- /About-->
</div>