@font-face {
  font-family: "AkzidenzGroteskStdLight";
  src: url("AkzidenzGroteskStdLight.eot");
  src: url("AkzidenzGroteskStdLight.eot") format("embedded-opentype"),
    url("AkzidenzGroteskStdLight.woff2") format("woff2"),
    url("AkzidenzGroteskStdLight.woff") format("woff"),
    url("AkzidenzGroteskStdLight.ttf") format("truetype"),
    url("AkzidenzGroteskStdLight.svg#AkzidenzGroteskStdLight") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "AkzidenzGroteskStdMd";
  src: url("AkzidenzGroteskStdMd.eot");
  src: url("AkzidenzGroteskStdMd.eot") format("embedded-opentype"),
    url("AkzidenzGroteskStdMd.woff2") format("woff2"),
    url("AkzidenzGroteskStdMd.woff") format("woff"),
    url("AkzidenzGroteskStdMd.ttf") format("truetype"),
    url("AkzidenzGroteskStdMd.svg#AkzidenzGroteskStdMd") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "AkzidenzGroteskStdBold";
  src: url("AkzidenzGroteskStdBold.eot");
  src: url("AkzidenzGroteskStdBold.eot") format("embedded-opentype"),
    url("AkzidenzGroteskStdBold.woff2") format("woff2"),
    url("AkzidenzGroteskStdBold.woff") format("woff"),
    url("AkzidenzGroteskStdBold.ttf") format("truetype"),
    url("AkzidenzGroteskStdBold.svg#AkzidenzGroteskStdBold") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "AkzidenzGroteskStdSuper";
  src: url("AkzidenzGroteskStdSuper.eot");
  src: url("AkzidenzGroteskStdSuper.eot") format("embedded-opentype"),
    url("AkzidenzGroteskStdSuper.woff2") format("woff2"),
    url("AkzidenzGroteskStdSuper.woff") format("woff"),
    url("AkzidenzGroteskStdSuper.ttf") format("truetype"),
    url("AkzidenzGroteskStdSuper.svg#AkzidenzGroteskStdSuper") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "AkzidenzGroteskStdBoldEx";
  src: url("AkzidenzGroteskStdBoldEx.eot");
  src: url("AkzidenzGroteskStdBoldEx.eot") format("embedded-opentype"),
    url("AkzidenzGroteskStdBoldEx.woff2") format("woff2"),
    url("AkzidenzGroteskStdBoldEx.woff") format("woff"),
    url("AkzidenzGroteskStdBoldEx.ttf") format("truetype"),
    url("AkzidenzGroteskStdBoldEx.svg#AkzidenzGroteskStdBoldEx") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "AkzidenzGroteskStd-Regular";
  src: url("AkzidenzGroteskStd-Regular.eot?#iefix") format("embedded-opentype"),
    url("AkzidenzGroteskStd-Regular.woff") format("woff"),
    url("AkzidenzGroteskStd-Regular.ttf") format("truetype"),
    url("AkzidenzGroteskStd-Regular.svg#AkzidenzGroteskStd-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GlossAndBloom";
  src: url("GlossAndBloom.eot?#iefix") format("embedded-opentype"),
    url("GlossAndBloom.woff") format("woff"),
    url("GlossAndBloom.ttf") format("truetype"),
    url("GlossAndBloom.svg#GlossAndBloom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AkzidenzGroteskStd-Super";
  src: url("AkzidenzGroteskStd-Super.eot?#iefix") format("embedded-opentype"),
    url("AkzidenzGroteskStd-Super.woff") format("woff"),
    url("AkzidenzGroteskStd-Super.ttf") format("truetype"),
    url("AkzidenzGroteskStd-Super.svg#AkzidenzGroteskStd-Super") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AkzidenzGroteskStd-Ext";
  src: url("AkzidenzGroteskStd-Ext.eot?#iefix") format("embedded-opentype"),
    url("AkzidenzGroteskStd-Ext.woff") format("woff"),
    url("AkzidenzGroteskStd-Ext.ttf") format("truetype"),
    url("AkzidenzGroteskStd-Ext.svg#AkzidenzGroteskStd-Ext") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Blender-Heavy";
  src: url("Blender-Heavy.eot?#iefix") format("embedded-opentype"),
    url("Blender-Heavy.woff") format("woff"),
    url("Blender-Heavy.ttf") format("truetype"),
    url("Blender-Heavy.svg#Blender-Heavy") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Blender-Thin";
  src: url("Blender-Thin.eot");
  src: url("Blender-Thin.eot?#iefix") format("embedded-opentype"),
    url("Blender-Thin.woff2") format("woff2"),
    url("Blender-Thin.woff") format("woff"),
    url("Blender-Thin.ttf") format("truetype"),
    url("Blender-Thin.svg#Blender-Thin") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Blender-ThinItalic";
  src: url("Blender-ThinItalic.eot");
  src: url("Blender-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("Blender-ThinItalic.woff2") format("woff2"),
    url("Blender-ThinItalic.woff") format("woff"),
    url("Blender-ThinItalic.ttf") format("truetype"),
    url("Blender-ThinItalic.svg#Blender-ThinItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AkzidenzGroteskStd-Md";
  src: url("AkzidenzGroteskStd-Md.eot?#iefix") format("embedded-opentype"),
    url("AkzidenzGroteskStd-Md.woff") format("woff"),
    url("AkzidenzGroteskStd-Md.ttf") format("truetype"),
    url("AkzidenzGroteskStd-Md.svg#AkzidenzGroteskStd-Md") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
