//Reset css only for anatta_layout.liquid

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
input,
textarea,
button,
select,
.disclosure__toggle {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
body,
html {
  scroll-behavior: smooth;
}
/* Remove default margin */
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
blockquote,
dl,
dd,
ul,
ol {
  margin: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
label[for],
button:not([disabled]) {
  cursor: pointer;
}
select {
  appearance: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  text-align: left;
  border: 1px solid var(--color_borders);
  padding: 10px 14px;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
