.flannelProductGrid {
  margin-bottom: 56px;
  @include above("desktop-med") {
    margin-bottom: 120px;
  }
  &__container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    @include above("mobile-large") {
      display: flex;
      gap: 12px;
      & > * {
        flex: 1;
      }
    }
    @include above("tablet") {
      padding-left: 32px;
      padding-right: 32px;
    }
    @include above("desktop-med") {
      gap: 32px;
      padding-left: 64px;
      padding-right: 64px;
    }
  }
  &__banner {
    position: relative;
    display: none;
    @include above("mobile-large") {
      display: block;
    }
    .responsive-image {
      &__wrapper {
        height: 100%;
      }
      &__image {
        object-fit: cover;
      }
    }
  }
  &__bannerText {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1.125;
    color: var(--color);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 16px 30px 16px;
    @include above("desktop-med") {
      font-size: 32px;
      padding: 0 34px 61px 32px;
    }
  }
}
