.textualHero {
  text-align: center;
  padding: 33px 0;
  color: var(--text-color);
  height: var(--height-mobile);
  
  @include above('tablet') {
    height: var(--height-desktop);
    margin-bottom: 17px;
  }
}

.textualHero__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include above('tablet') {
    padding: 0 20px;
  }
}

.textualHero__content {
  max-width: var(--content-width);
  height: auto;
}

.textualHero__title {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: -0.5px;
  line-height: 0.9;
  margin-bottom: 8px;

  @include above('tablet') {
    font-size: 60px;
    letter-spacing: -2px;
    line-height: 0.86;
    margin-bottom: 15px;
  }
}

.textualHero__entry {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0;

  @include above('tablet') {
    font-size: 20px;
    line-height: 1.3;
  }
}