.trustedBadges {
  padding-block: 56px;
  margin-bottom: 56px;
  @include above("tablet-large") {
    padding-block: 0;
  }
  @include above("desktop-med") {
    margin-bottom: 120px;
  }
  &__wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
    @include above("tablet") {
      display: flex;
      & > * {
        flex: 1;
      }
    }
    @include above("desktop-med") {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__block {
    text-align: center;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
    @include above("tablet-large") {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      padding-block: 62px;
    }
    @include above("desktop-med") {
      padding-left: 100px;
      & + & {
        border-left: 1px solid #eae6e4;
      }
    }
  }
  &__icon {
    height: 100px;
    margin-bottom: 8px;
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
    .responsive-image__wrapper {
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      img {
        max-height: 100% !important;
        max-width: 100% !important;
      }
    }
    @include above("tablet-large") {
      height: auto;
      max-height: 100px;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      margin-right: 20px;
    }
  }
  &__text {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.23px;
    line-height: 1.25;
    color: color("black");
    margin-bottom: 0;
    @include above("tablet-large") {
      max-width: 180px;
      @include use-text-style("paragraph-body-1");
    }
  }
}
