
<div class="image-content podcast-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="about-image">
            <div id="shopify-section-about-image" class="shopify-section">
<div class="">
			<a target="_blank" href="https://podcasts.apple.com/us/podcast/the-bare-performance-podcast/id1469466722">
                <img src="https://i.shgcdn.com/1288f793-21f5-41fd-b2ed-0710f46c943a/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="Apple Podcast">
			</a>
		</div>
		<div class="">
			<a target="_blank" href="https://play.google.com/music/m/Iv7vbh5szxg2otpacltso7azrae?t=The_Bare_Performance_Podcast">
				<img src="https://i.shgcdn.com/c0422180-1ff2-4be6-a620-3dd64b2d0c42/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="GooglePlay">
			</a>
		</div>
		<div class="">
			<a target="_blank" href="https://open.spotify.com/show/1HyV8I8xzTXFmyUhrwJnWN?si=zUkQB4ILSc-2e4GvlLhyeQ">
				<img src="https://i.shgcdn.com/2e790074-468c-45bb-aec5-d3006a012667/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="Listen on Spotify">
			</a>
		</div>
</div>									
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="about-content">									
            <div class="section-title-fourth">
              <h2>THE BARE PERFORMANCE PODCAST</h2>
            </div>
            <div id="shopify-section-about-description" class="shopify-section">
              <p>The Bare Performance Podcast is hosted by Nick Bare, the owner of Bare Performance Nutrition. We focus on topics around fitness, nutrition, supplementation and the mindset required to improve your performance in and out of the gym.</p>
			<p>Nick Bare built Bare Performance Nutrition while serving as an Active Duty Army Infantry Officer. He scaled the brand from packing orders out of his college apartment to a 7-figure business located right outside of Austin, Texas.</p>
<p>Follow the links below to listen to The Bare Performance Podcast on your favorite streaming stations.</p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>