
<span class="bg-text">{{ block.settings.background_text }}</span>
<div class="container">
  <div class="video texe-center">
    <iframe width="560" height="315" src="{{ block.settings.video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>