<div class="about-content red-stripe-left about-content-bottom">
  <div class="container">
    <div class="section-title-primary text-left">
      <h2>{{ block.settings.title2 }}</h2>
    </div>
   {{ block.settings.description2 }}
  </div>
</div>
