{%- comment -%}
  This snippet is required to load the accelarated checkout button inside the rebuy smart cart
{%- endcomment -%}
<div
  class="additional-checkout-buttons additional-checkout-buttons--horizontal"
  style="display:none"
>
  {{ content_for_additional_checkout_buttons }}
</div>
