<!-- snippets/accordion-buttons -->
{% comment %}<svg class="plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 261.109 363.314"><title>plus</title><path d="M40.743,700.321c0-4.639.017-9.279-.013-13.918a16.84,16.84,0,0,1,.277-2.973c.408-2.375,2.322-3.912,5.269-3.957q8.217-.125,16.436,0c3.394.059,5.22,2.093,5.368,5.628.015.359.006.72.006,1.08q0,14.038,0,28.076c0,3.055.982,4.039,4.007,4.04q12.238,0,24.476.007a10.937,10.937,0,0,1,2.622.175c2.688.654,4.112,2.177,4.15,4.949q.116,8.577-.007,17.156c-.045,2.807-1.767,4.475-4.52,4.87a24.12,24.12,0,0,1-3.461.2q-11.818-.006-23.637,0c-2.684,0-3.624.912-3.627,3.584q-.018,14.1,0,28.2a13.632,13.632,0,0,1-.232,2.736,4.541,4.541,0,0,1-3.757,3.989,14.762,14.762,0,0,1-2.84.36c-4.439-.008-8.879.013-13.318-.016a16.388,16.388,0,0,1-2.973-.278q-4.228-.813-4.226-5.933-.016-13.918,0-27.836c0-.44,0-.88,0-1.32-.041-2.534-.98-3.48-3.492-3.481q-11.458-.008-22.917.007a39.111,39.111,0,0,1-4.419-.235,4.9,4.9,0,0,1-4.431-5.1c-.077-5.558-.091-11.119,0-16.676.056-3.4,2.11-5.307,5.629-5.327,8.558-.049,17.117-.025,25.676-.03,2.947,0,3.949-.99,3.955-3.943Q40.754,707.34,40.743,700.321Z" transform="translate(-5.417 -421.214)" style="fill:currentColor;"/></svg>
<svg class="minus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 261.109 363.314"><title>minus</title><path d="M228.887,448.577H196.5c-3.13,0-4.448-1.137-4.825-4.229-.485-3.981-.153-7.981-.2-11.971a37.882,37.882,0,0,1,.2-7.054c.489-2.772,1.777-3.946,4.587-4.1.359-.019.719-.008,1.079-.008h63.2c4.262,0,5.618,1.485,5.823,5.782.2,4.115.1,8.224.146,12.336a26.8,26.8,0,0,1-.431,5.708c-.531,2.581-1.794,3.533-4.464,3.534Q245.257,448.579,228.887,448.577Z" transform="translate(-5.417 -421.214)" style="fill:currentColor"/></svg>
{% endcomment %}
<?xml version="1.0" encoding="iso-8859-1"?>
<svg class="arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 512.008 512.008" style="enable-background:new 0 0 512.008 512.008;" xml:space="preserve" width="20px" height="20px">
	<path d="M381.048,248.633L146.381,3.299c-3.021-3.146-7.646-4.167-11.688-2.521c-4.042,1.615-6.688,5.542-6.688,9.896v42.667
		c0,2.729,1.042,5.354,2.917,7.333l185.063,195.333L130.923,451.341c-1.875,1.979-2.917,4.604-2.917,7.333v42.667
		c0,4.354,2.646,8.281,6.688,9.896c1.292,0.521,2.646,0.771,3.979,0.771c2.854,0,5.646-1.146,7.708-3.292l234.667-245.333
		C384.986,259.258,384.986,252.758,381.048,248.633z" style="fill:currentColor;"/>
</svg>
