
{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
{% if blog.id == 51480592464 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.audio_url' %}
  </div>
{% endif %}
{% if blog.id == 46286022 %}
  <div class="custom-fields-wrapper">
  </div>
{% endif %}
{% if blog.id == 105176789 %}
  <div class="custom-fields-wrapper">
  </div>
{% endif %}
{% if blog.id == 46492998 %}
  <div class="custom-fields-wrapper">
  </div>
{% endif %}
{% if blog.id == 46493126 %}
  <div class="custom-fields-wrapper">
  </div>
{% endif %}
{% if blog.id == 51473973328 %}
  <div class="custom-fields-wrapper">
  </div>
{% endif %}
{% if blog.id == 51480625232 %}
  <div class="custom-fields-wrapper">
  </div>
{% endif %}
{% if blog.id == 46711110 %}
  <div class="custom-fields-wrapper">
  </div>
{% endif %}
{% if blog.id == 51473940560 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.video_url' %}
  </div>
{% endif %}