{% assign gwp_settings = shop.metaobjects.gwp['settings'] %}
<div class="bfcm-offer-banner-pdp">
  <div class="bfcm-offer-banner-pdp-title">{{ gwp_settings.bfcm_promo_banner_title }}</div>
  <div class="bfcm-offer-banner-pdp-text bfcm-sale-text">
  </div>
  <span class='bfcm-countdown'></span>
</div>
