
<!-- CTA section -->
<div class="cta-section text-center">
  <div class="container">
    <h2>{{ section.settings.title }}</h2>
    {{ section.settings.description }}
    <a class="btn" href="{{ section.settings.chat_link }}">{{ section.settings.chat_title }}</a>
  </div>
</div>
<!-- /CTA section -->