{% capture starts %}
    {% for item in (1..5) %}
        <span class="reviewStar"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15"><path d="m7.364.884 1.977 4.22 4.47.684-3.236 3.322.76 4.66-3.971-2.199-3.97 2.199.758-4.66L.917 5.788l4.469-.684L7.364.884Z" fill="#000" stroke="#000" stroke-width=".75" fill-rule="evenodd"/></svg></span>
    {% endfor %}
{% endcapture %}