
<div class="container-fluid">
  <div class="row">
    <div class="media-banner">
      <img class="img-fluid" src="{{ section.settings.banner_image | img_url: 'master' }}"/>
      <div class="banner-link">
        <a class="btn btn-secondary" href="{{section.settings.link}}" >{{section.settings.btn_title}}</a>
      </div>
    </div>
  </div>
</div>
