<!-- If we need pagination -->
<div class="swiper-pagination swiper-pagination-pdp"></div>
<!-- If we need navigation buttons -->
<div class="swiper-button-pdp swiper-button-pdp-prev"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 19"><path d="M9 1 1.192 8.808a.61.61 0 0 0 0 .888L9 17.504" stroke="#1E1B1C" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg></div>
<div class="swiper-button-pdp swiper-button-pdp-next"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 19"><path d="m1 1 7.808 7.808a.61.61 0 0 1 0 .888L1 17.504" stroke="#1E1B1C" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg></div>