
<div class="tab-pane fade {{ tab_active }}" id="Frequently-Bought-Together" role="tabpanel" aria-labelledby="Frequently-Bought-Together-tab">
  	<div class="primary-benefits">
      	<div class"row">
		<div class="rte custom-frequently-bought-together" style="display:none"></div>
      </div>
  	</div>  
</div>  