<!-- Review list -->
<div class="review-list" id="js-pdp-reviews">
  <div class="container" style="padding:15px">
    <h2 class="sectionTitle">CUSTOMER REVIEWS</h2>
    {% render 'okendo-reviews-widget', product: product %}
  </div>
</div>
<!-- /Review list -->
