
<div class="product-bottom-banner">
	<div class="container-fluid d-flex justify-content-center">
      <ul>
        <li><img src="{{ 'bpn-logo.svg'| asset_url }}"> </li>
        <li>
          <h3>The Bare Standard</h3>
          <h6>Bare Performance Nutrition was created to improve lives. </h6>
        </li>
        <li>
          <a href="#" class="learn-more ">LEARN MORE <i class="arrow-icon right-direction"></i> </a>
        </li>
      </ul>
    </div>
</div>