<div class='subscription-benefit'>
  <span class='icon-check'>
    {%- render 'icon', icon: 'checkmark-green' -%}
  </span>
  <span class='icon-cross'>
    {%- render 'icon', icon: 'cross-red' -%}
  </span>
  {{ benefit }}
</div>
