{% for multiplier in [1,2,3] %}
  {% set pause_date = 'nthOrderDate(order, subscription, multiplier)' | js %}
  <div class="og-pause-subscription-option">
    <label>
      <input
        type="radio"
        name="shipment_date"
        required
        value="{{ pause_date | date('YYYY-MM-DD') }}"
      >
      {{- 'frequency_period' | t(every = subscription.every * multiplier, period = subscription.every_period) }}
      <span class="og-pause-date">({{ pause_date | date }})</span>
    </label>
  </div>
{% endfor %}
