@font-face {
  font-family: Shuttleblock;
  src: url('Shuttleblock-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Shuttleblock;
  src: url('Shuttleblock-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
